<app-signup></app-signup>
<div class="row">
    <div class="col-sm-6 text-right pt-5" > 
        <img src="/assets/What-Is-Scribe-Image.png" height=" 300px" class="align-middle m-5">
    </div>
    <div class="col-sm-4">
        <h2 class="mx-5 my-5">What is Scribe</h2>
        <h6 class="mx-5 my-1">
            Scribe is a thought sharing plateform 
            where you can share your thoughts and craziest ideas with the world .
            You can also interact with other users by commenting on their post.
            Create a free account and get start
        </h6>
    </div>
</div>




<div class="row">
    <div class="offset-sm-2 col-sm-8 text-center pt-5 mt-5" >
        <h5>
            Contact Us
        </h5>
        <div class="row">
            <div class="offset-sm-2 col-sm-4 text-left vertical-divider pt-5  mt-5">
                <i class="fa fa-phone mt-3"></i>
                7982875001
                <br/>
                <i class="fa fa-envelope mt-3"></i>
                sahilkg1998@gmail.com
                <br/>
                <i class="fa fa-facebook mt-3"></i>
                Trainings
                <br/>

            </div>

            <div class="col-sm-6 my-5 px-5 py-5 text-left">
                <i class="fa fa-map-marker mt-3"></i>
                Scholivers Educare pvt. Ltd.
                <br/>

                <i class="fa fa-map-marker mt-3 invisible"></i>
                Unitech business zone
                <br/>

                <i class="fa fa-map-marker mt-3 invisible"></i>
                Nirvana Country ,South City 2
                <br/>

                <i class="fa fa-map-marker mt-3 invisible"></i>
                Noida
                <br/>

            </div>

        </div>

    </div>

</div>